# Byte-compiled / cache
__pycache__/
*.py[cod]
*.so

# Virtual env
venv/
env/
.venv/

# VSCode settings
.vscode/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Dependencies
*.egg-info/
dist/
build/

# Others
*.sqlite3
*.db
